{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}

{% block nav_links %}
<li><a href="#">About</a></li>
{% endblock %}

{% block header_buttons %}
{% if user.is_authenticated %}
{% else %}
<a href="{% url 'auth_login' %}" class="btn btn-default navbar-btn">Sign in</a>
{% endif %}
{% endblock %}

{% block content %}
<section class="hero gray" lazy-background="">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
      
      </div>
      <div class="col-md-6">
        <div class="jumbotron">
          <h1>Hello, World!</h1>
          <p>Estmator is the best app ever because . . . </p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}
