{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% block nav_links %}
{% endblock %}
{% block content %}

<script src="{% static './js/menu.js' %}"></script>

<div class="container" id="est-menu">

    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Select An Option</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-3 col-xs-12 text-center">
            <div class="form-group">
                <button class="btn btn-lg btn-default btn-block" id="btn_new_quote">New Quote</button>
            </div>
            <script>
                //New Quote Button
                $('#btn_new_quote').click(function () {
                    $.ajax({
                        method: 'GET',
                        url: "{% url 'quote_form' %}"
                    }).done(function(response) {
                        $('#new_quote_form').html(response);
                        $('#new_quote').modal('toggle');
                    });
                });
            </script>
            <div class="form-group">
                <button class="btn btn-lg btn-default btn-block" id="btn_edit_quote">Edit Quote</button>
            </div>
            <script>
                //Edit Quote Button
                $('#btn_edit_quote').click(function () {
                    $.ajax({
                        method: 'GET',
                        url: "{% url 'client_list_form' %}"
                    }).done(function(response) {
                        $('#edit_quote_form_list').html(response).find('select').change(function (e) {
                            var clientID = e.target.value;
                            $.ajax({
                                method: 'GET',
                                url: "{% url 'quote_edit_form' %}",
                                data: {pk: clientID}
                            }).done(function (response) {
                                $('#edit_quote_form_contents').html(response);
                            });
                        });
                        $('#edit_quote_form_contents :input').attr('disabled', true);
                        $('#edit_quote').modal('toggle');
                    });
                });
            </script>
        </div>
        <div class="col-md-3 col-xs-12 text-center">
            <div class="form-group">
                <button class="btn btn-lg btn-default btn-block" data-toggle="modal" data-target="#new_client">New Client</button>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-default btn-block" id="btn_edit_client">Edit Client</button>
            </div>
            <script>
                //Edit Client Button
                $('#btn_edit_client').click(function () {
                    $.ajax({
                        method: 'GET',
                        url: "{% url 'client_list_form' %}"
                    }).done(function(response) {
                        $('#edit_client_form_list').html(response).find('select').change(function (e) {
                            var clientID = e.target.value;
                            $.ajax({
                                method: 'GET',
                                url: "{% url 'client_edit_form' %}",
                                data: {pk: clientID}
                            }).done(function (response) {
                               $('#edit_client_form_contents').html(response);
                            });
                        });
                        $('#edit_client_form_contents :input').attr('disabled', true);
                        $('#edit_client').modal('toggle');
                    });
                });
            </script>
        </div>
    </div>

</div> <!-- /container -->

<div class="modal fade" id="new_quote" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">New Quote</h4>
            </div>
            <div class="modal-body text-center">
                <form action="{% url 'quote' %}" method="post">{% csrf_token %}
                    <div id="new_quote_form"></div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit_quote" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Quote</h4>
            </div>
            <div class="modal-body text-center">
                <form id="edit_quote_form" action="{% url 'quote' %}" method="post">{% csrf_token %}
                    <div id="edit_quote_form_list"></div>
                    <div id="edit_quote_form_contents"></div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="new_client" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">New Client</h4>
            </div>
            <div class="modal-body text-center">
                <form id="new_client_form" action="{% url 'api_client' %}" method="post">{% csrf_token %}
                    {{ client_form }}
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit_client" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Client</h4>
            </div>
            <div class="modal-body text-center">
                <form id="edit_client_form" action="{% url 'api_client' %}" method="post">{% csrf_token %}
                    <div id="edit_client_form_list"></div>
                    <div id="edit_client_form_contents">{{ client_form }}</div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

{% endblock %}
