{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}

<script src="{% static './js/quote.js' %}"></script>

<div class="canvas">
    <!--Top Navbar-->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="nav navbar-nav navbar-left">
                <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-recalc="false" data-target=".reveal-left" data-canvas=".canvas" data-disable-scrolling="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="nav navbar-nav">
                <span class="navbar-brand">Estmator</span>
            </div>
            <div class="nav navbar-nav navbar-right">
                <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-recalc="false" data-target=".reveal-right" data-canvas=".canvas" data-disable-scrolling="false">
                    <span class="glyphicon glyphicon-option-horizontal"></span>
                </button>
            </div>
        </div>
    </div>

    <!--Main Content-->
    <section class="container-fluid">
        <section class='review_header'>
        {% with qcc=quote.client.company %}
            <section class='client_info'>
                <h3>{{ quote.client.name }}</h3>
                <p>{{ qcc.company_name }}</p>
                <p>{{ qcc.address }}</p>
            {% if qcc.address2 %}
                <p>{{ qcc.address2 }}</p>
            {% endif %}
                <p>{{ qcc.city }},{{ qcc.state }} {{ qcc.zipcode }}</p>
            </section>
            <img src="" alt'user logo'>
        {% endwith %}
        </section>
        <section class='user_intro'>
            <p>{{ quote.user.profile.review_intro }}</p>
        </section>
        <section class='quote_info'>
            {% for c in quote.products.all %}
            <h2 id="category_{{ c.id }}">{{ c.name }}</h2>
            {% endfor %}
            </div>
            <p>ST Total Cost</p>
            <p>OT Total Cost</p>
        </section>
        <section class='quote_sig'>
            <section class='signature'>
                <p>Client Signature</p>
            </section>
            <h3>User Information</h3>
            <button type="submit">Send Email</button>
        </section>
    </section><!-- /.container-fluid -->

{% endblock %}
