/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
    overflow-x: hidden;
}

/*body {
    margin-top: 50px;
}*/


/* Positioning
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
    padding-top: 75px;
}


/* Nav
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.navmenu {
    width: 150px;
}

@media (min-width: 992px) {
    .navmenu {
        width: 300px;
    }
}

#left_menu_btn {
    display: block;
}

@media (min-width: 767px) {
    #left_menu_btn {
        display: none !important;
    }
}

#navbar-header {
    font-size: 2em;
}

#logo_image {
    padding: 15px 5px 15px 15px;
}

/* Color
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.bgcol {
    background-color: #444444;
}

