/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
    overflow-x: hidden;
}

.navbar .navbar-tagline {
    text-align: center;
}


/* Positioning
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.pad_top_50 {
    padding-top: 50px;
}

.margin_top_50 {
    margin-top: 50px;
}



/* Nav
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.navmenu {
    width: 150px;
}

@media (min-width: 992px) {
    .navmenu {
        width: 200px;
    }
}

#left_menu_btn {
    display: block;
}

@media (min-width: 767px) {
    #left_menu_btn {
        display: none !important;
    }
}

#navbar-header {
    font-size: 2em;
}

#logo_image {
    padding: 15px 5px 15px 15px;
}

/* Color
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.bgcol {
    background-color: #444444;
}

.gray {
    background-color: lightgray;
}

.hilite_color {
    color: #f68620;
}

/* Main Menu
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#est-menu {
    padding-top: 100px;
}

@media (min-width: 992px) {
    #quote-totals-container {
        position: fixed;
    }
}

.input-group .form-control {
    z-index: 0;
}
