@media (min-width: 0px) {
    html {
        overflow-x: hidden;
    }
    .navmenu {
        width: 150px;
    }
}

@media (min-width: 992px) {
    .navmenu {
        width: 300px;
    }
}

.container {
    padding-top: 75px;
}

#navbar-header {
    font-size: 2em;
}

.bgcol {
    background-color: #444444;
}
