{% extends "base.html" %}

{% load static from staticfiles %}

{% block nav_links %}
<li><a href="{% url 'index' %}">Home</a></li>
{% endblock %}

{% block content %}
<section class="" lazy-background="">
  <div class="container about_div">
    <div class="col-md-12 about_intro">
      <h1 class='text-center'><img class='logo' src="{% static 'images/est_logo_symbol.png' %}" alt="">estmator</h1>
      <p>With a growing demand for technological invention in an industry with deep traditional 
      roots, there comes a time when a simple tool can enforce the tipping point of change. 
      At Estmator, we've created an easy to use, yet powerful, product that will enable the 
      traditional commercial relocation sales team to quickly produce an estimate for any client 
      with a few simple taps of the finger.</p>

      <p>Our web application provides a secure portal for sales people to utilize in creating and 
      managing both clients and quotes. As soon as you log in, you're given the option to continue 
      an existing quote or create new. The ability to manage client information right from the 
      quote page allows for additional flexibility while on the move.</p>
      </br>
      <h3 class='text-center'>About Us</h3>
      </br>
      <div class="col-md-12">
        <ul class="media-list">
          <li class="media">
            <div class="media-left">
                <img class="media-object img-circle" src="{% static 'images/est_pics/andrew.jpeg' %}" alt="Andrew Wilson">
            </div>
            <div class="media-body">
              <h4 class="media-heading">
                Andrew Wilson 
                <a href="//github.com/wilson0xb4" title="Git Hub">
                  <img class='gh_img' src="{% static 'images/gh.png' %}" alt="Git Hub">
                </a>
                <a href="//linkedin.com/in/wilson0xb4" title="LinkedIn">
                  <img class='gh_img' src="{% static 'images/li.png' %}" alt="LinkedIn">
                </a>
              </h4>
              <p>I am a software developer who likes to solve interesting and challenging problems.</p>
            </div>
          </li>
          <li class="media">
            <div class="media-left">
                <img class="media-object img-circle" src="{% static 'images/est_pics/jim.png' %}" alt="Jim Grant">
            </div>
            <div class="media-body">
              <h4 class="media-heading">
                Jim Grant 
                <a href="//github.com/migrantj" title="Git Hub">
                  <img class='gh_img' src="{% static 'images/gh.png' %}" alt="Git Hub">
                </a>
                <a href="//linkedin.com/in/migrantj" title="LinkedIn">
                  <img class='gh_img' src="{% static 'images/li.png' %}" alt="LinkedIn">
                </a>
              </h4>
              <p>I’m a Python and JavaScript developer with a unique combination of technical 
              proficiency, project experience, and design sensibilities. I have over a decade of 
              experience in the entertainment software industry, credited as a designer on over a 
              dozen shipped titles.</p>
            </div>
          </li>
          <li class="media">
            <div class="media-left">
                <img class="media-object img-circle" src="{% static 'images/est_pics/jonathan.jpeg' %}" alt="Jonathan Stallings">
            </div>
            <div class="media-body">
              <h4 class="media-heading">
                Jonathan Stallings 
                <a href="//github.com/jonathanstallings" title="Git Hub">
                  <img class='gh_img' src="{% static 'images/gh.png' %}" alt="Git Hub">
                </a>
                <a href="//linkedin.com/in/jcstallings" title="LinkedIn">
                  <img class='gh_img' src="{% static 'images/li.png' %}" alt="LinkedIn">
                </a>
              </h4>
              <p>I am a software developer with a background in education. I love collaborating 
              with teams to creatively solve problems, develop new expertise, and pass on knowledge 
              to others.</p>
            </div>
          </li>
          <li class="media">
            <div class="media-left">
                <img class="media-object img-circle" src="{% static 'images/est_pics/scott.jpeg' %}" alt="Scott Schmidt">
            </div>
            <div class="media-body">
              <h4 class="media-heading">
                Scott Schmidt 
                <a href="//github.com/sjschmidt44" title="Git Hub">
                  <img class='gh_img' src="{% static 'images/gh.png' %}" alt="Git Hub">
                </a>
                <a href="//linkedin.com/in/sjschmidt44" title="LinkedIn">
                  <img class='gh_img' src="{% static 'images/li.png' %}" alt="LinkedIn">
                </a>
              </h4>
              <p>I am a web developer and veteran business professional with a record of success 
              in learning new skills and utilizing my previous experience to accelerate positive 
              results. I bring positive energy to any team, and enjoy tackling hard projects.</p>
            </div>
          </li>
        </ul>
      </div>
      <p>Estmator was created as the final project after a two month intensive learning program at 
      <a href='//codefellows.org'>Code Fellows</a> in Seattle, WA. Our group conceived the project 
      from a simple idea, and developed the application into a fully functional piece of software, 
      which has real-world application.</p>
      </br>
      <p class='text-center ul_foot'>Estmator was built in four days.</p>
    </div>
  </div>
</section>
{% endblock %}
