{% extends "base.html" %}

{% load static from staticfiles %}

{% block leftbutton %}
<button type="button" class="navbar-toggle hidden-md hidden-lg" data-toggle="offcanvas" data-target=".reveal-left" data-disable-scrolling="false">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>
{% endblock %}

{% block header_buttons %}
<button type="button" class="navbar-toggle hidden-lg" data-toggle="offcanvas" data-target=".reveal-right" data-disable-scrolling="false">
    <span class="glyphicon glyphicon-option-horizontal white"></span>
</button>
{% endblock %}

{% block header_text %}
<span class="hidden-xs hidden-sm">
Quote for {{ client.first_name }} {{ client.last_name }}
</span>
{% endblock %}

{% block content %}
<!-- Left Reveal Menu -->
<div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm reveal-left">
    <br><br>
    <a class="navmenu-brand" href="#">Categories</a>
    <ul class="nav navmenu-nav">
        {% for c in categories %}
        <li class="category_btn" data-category-id="#category_{{ c.id }}"><a>{{ c.name }}</a></li>
        {% endfor %}
    </ul>
</div>

<form id="quote_form" action="{% url 'review' %}" method="post">{% csrf_token %}

<!-- Right Reveal Menu -->
<div class="navmenu navmenu-default navmenu-fixed-right offcanvas-md reveal-right">
    <br><br>
    <a class="navmenu-brand" href="#">Options</a>
    <ul class="nav navmenu-nav">
        {{ options_form | safe }}
    </ul>
</div>

<div class="container-fluid">
    <script src="{% static './js/quote.js' %}"></script>

    <!--Main Content-->
    <div class="row">
    <div class="col-md-offset-3 col-md-4 col-xs-12">
        <span id="companyvals" data-straight-time-rate="{{ client.company.st_rate }}" data-over-time-rate="{{ client.company.ot_rate }}"></span>
        <input type="hidden" name="quote_client" value="{{ client.id }}">
        <input type="hidden" name="quote_name" value="{{ quote_name }}">
        {% for category, pdict in categories.items %}
        <div class="panel panel-default" id="category_{{ category.id }}">
            <div class="panel-heading">
                <h3 class="quote-category-header">{{ category.name }}</h3>
            </div>

            <table class="table table-striped">
            {% for product, count in pdict.items %}
                <tr class="item-row">
                    <td><label for="item_{{ product.id }}">{{ product.name }}</label></td>
                    <td>
                        <input type="hidden" name="product" value="{{ product.id }}">
                        <input class="spinner-box" id="item_{{ product.id }}" type="text" value="{{ count }}" name="product_count" data-mins="{{ product.mins_piece }}">
                    </td>
                    <td><span class="calc_mins" id="hour_for_item_{{ product.id }}"> - </span></td>
                </tr>
            {% endfor %}
            </table>
        </div>
        {% endfor %}
    </div>
    <div class="col-md-4 col-xs-12">
        <div id="quote-totals-container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Totals</h3>
                </div>
                <table class="table">
                    <tr>
                        <td>Total Products:</td>
                        <td><span id="genval_totalproducts"> - </span></td>
                    </tr>
                    <tr>
                        <td>Total Truck Loads:</td>
                        <td><span id="genval_totaltruckloads"> - </span></td>
                    </tr>
                    <tr class="active">
                        <input type="hidden" id="quote_subtotal" name="sub_total" value="0">
                        <td>Sub-Total:</td>
                        <td><span id="genval_subtotal"> - </span></td>
                    </tr>
                    <tr>
                        <td>Total Drive Time:</td>
                        <td><span id="genval_totaldrivetime"> - </span></td>
                    </tr>
                    <tr>
                        <td>Total Hours:</td>
                        <td><span id="genval_totalhours"> - </span></td>
                    </tr>
                    <tr>
                        <td>Total Days:</td>
                        <td><span id="genval_totaldays"> - </span></td>
                    </tr>
                    <tr class="active">
                        <input type="hidden" id="quote_grandtotal" name="grand_total" value="0">
                        <td>Grand Total:</td>
                        <td><span id="genval_grandtotal"> - </span></td>
                    </tr>
                </table>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Cost Options</h3>
                </div>
                <table class="table">
                    <tr>
                        <input type="hidden" id="quote_straighttimecost" name="straight_time_cost" value="0">
                        <td>Straight Time Cost:</td>
                        <td><span id="genval_straighttimecost"> - </span></td>
                    </tr>
                    <tr>
                        <input type="hidden" id="quote_overtimecost" name="over_time_cost" value="0">
                        <td>Overtime Cost:</td>
                        <td><span id="genval_overtimecost"> - </span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    </div>

</div>
{% endblock %}

{% block footer_full %}
  <button type="button" class="btn btn-default navbar-btn" id="calculate_btn">Calculate</button>
  <div id="tagline" class="nav navbar-nav navbar-text navbar-tagline">
    <span class="hilite_color">&asymp;</span> count
    <span class="hilite_color">&asymp;</span> quote
    <span class="hilite_color">&asymp;</span> close
  </div>
  <button type="submit" class="btn btn-default navbar-btn" id="review_btn">Review</button>
{% endblock %}

</form>

